@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

#logo {
    height: 5em;
    opacity: none;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: white;
}

button {
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 90%;

    border: 0;
    background: #1D61DD;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background: #1D61DD;
    opacity: 0.9;
    transform: scale(1.1); 
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('assets/header-image.jpg');
}


nav {
    background: rgba(241, 241, 241, .9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: black;
}

.menu-link {
    text-decoration: none;
    color:#57656E;
}

.menu-link:hover {
    color: #FD9024;
    transform: scale(3.1)
}

header nav p {
    font-weight: bold;
}

header nav ul {
    color: black;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

.header-content {
    width: 60%;
    margin: 150px auto;
    text-align: center;
    color: white;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3.8rem;
    color: white;
}


.servicos {
    padding: 15px;
}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards {
    margin-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.servicos .card img {
    width: 60px;
    height: 60px;
    margin: 10px;
    transition: all 1s;
}

.servicos .card img:hover {
    stroke: #1D61DD;
    transform: scale(1.1);
}

.servicos .card h3 {
    font-weight: bold;
}

.servicos .card p {
    color: grey;
    font-size: .8rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.servicos button {
    background: #1D61DD;
}


/* Section - Nosso Time */

#nosso-time {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(185, 184, 184);
    padding: 50px 0;
    margin-top: 5%;
    position: relative;
}

    /* TITULO DA SEÇÃO  */
#nosso-time h1{
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    position: absolute;
    top: 5px;
    color: white;
}

  /* TITULO DA SEÇÃO  */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 450px;
    margin: 15px;
}

.item img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.item h3{
   align-self: center;
   margin: 5px;
   color: rgb(103 103 103); 
   font-size: 28px;
   line-height: 38px;
}

.item p{
    color: white;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    height: 50%;
    align-self: center; 
    margin: 0;
}


/* SEÇÂO - RODAPE */

#rodape {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: rgb(131, 131, 131);
}

.redes-sociais{
   display: flex;
   justify-content: space-between;

}

.redes-sociais img{
    width: 30px;
    margin: 10px;

}